* {
    font-family: "Reggae One", cursive;
}

#title {
    height: auto;
    background-color: rgb(32, 110, 110);
    color: rgb(148, 189, 228);
    font-size: 66px;
    font-weight: bolder;
    text-align: center;
    border-radius: 12%;
}

.startsite {
    background-color: rgb(32, 110, 110);
    color: rgb(148, 189, 228);
    text-align: center;
    font-size: 42px;
    border-radius: 30%;
    margin-top: 65px;
}

.startsite > label {
    display: block;
    position: absolute;
    margin-top: 60px;
    margin-left: 34%;
    border-radius: 45%;
    width: 30%;
    height: 10%;
    background-color: rgb(148, 189, 228);
}

.button-start {
    width: 35%;
    padding: 30px;
    border-radius: 45%;
    border: rgb(32, 110, 110);
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    color: rgb(32, 110, 110);
    background-color: rgb(148, 189, 228);
    font-size: large;
    font-weight: bold;
    cursor: grab;
}

.button-start:hover {
    opacity: 0.5;
    transition: 0.4s;
}

.placeforquestions {
    display: none;
}

.question {
    display: block;
    font-size: 30px;
    color: rgb(32, 110, 110);
    text-align: center;
    margin-top: 25px;
}

.hidden {
    display: none;
}

.number {
    text-align: center;
    font-size: large;
    color: rgb(148, 189, 228);
    margin-top: 25px;
}

.answers {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 0px 0px 22px 6px rgb(32, 110, 110);
}

.answers > label {
    padding: 20px;
    background: linear-gradient(36deg, cadetblue 0%, transparent 22%);
    font-family: "Raleway", sans-serif;
}

@media only screen and (max-width: 600px) {
    .answers > label {
        background: linear-gradient(36deg, cadetblue 0%, transparent 50%);
    }
}

.answers > label:hover {
    background-color: rgb(148, 189, 228);
    transition: 0.4s;
}

.result {
    display: none;
}

.scores {
    text-align: center;
    display: block;
    font-size: 40px;
    margin-top: 70px;
    color: rgb(32, 110, 110);
}

.correctanswer {
    display: block;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.restart-quiz {
    display: none;
    text-align: center;
    border: none;
    background: linear-gradient(12deg, cadetblue 7%, transparent);
    border-radius: 16px;
    padding: 5px 15px;
    margin: 20px auto;
    cursor: grab;
}

.restart-quiz:hover {
    background-color: rgb(32, 110, 110);
    color: white;
}
